:root{
  --base :#171a1f;
  --second-base : #23252f;
  background-color: var(--base);
}



.nav-head{
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-body{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--base);
}

.left-bar{
  height: 100%;
  width: 20%;
  margin: 40px;
  color: white;
}

.left-bar>h5{
  background-color: var(--second-base);
  padding: 20px;
  border-radius: 10px;
}

.left-option{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  border-radius: 10px;
  transition: ease 0.2s;
  padding: 20px;
  cursor: pointer;
  background-color: var(--second-base);
  color: white;
  text-decoration: none;
}

.left-option:hover{
  transition: ease 0.2s;
  background-color: var(--base);
  color: white;
  text-decoration: none;
}

.left-option>h5{
  margin-bottom: 0px;
  margin-left: 10px;
  font-size: 15px;
}

.MainBody{
  width: 60%;
  height: 100%;
  padding: 20px;
}

.question-panel{margin-top: 30px;}

.questions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--second-base);
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.question{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

h4.question{
  margin: 0px;
  font-size: 20px;
}

.time-asked{
  color: grey;
  font-size: 12px;
}

.author-img{
  border-radius: 50%;
  margin: 5px;
  border: solid 2px black;
}

.author{
  margin: 0px;
  font-weight: 500;
  font-style: italic;
  font-size: 12px;
}

a.sub-ans,button.sub-ans{
  margin-top: 15px;
}

.question-author{
  display: flex;
  flex-direction: column;
  justify-content:center;
   align-items: flex-start;
    margin-left: 10px;
}

.topic-badge{
  margin: 10px 4px;
}

.ask-question-page{
  width: 50%;
  color: white;
  margin: auto;
  background-color: var(--second-base);
  padding: 20px;
  border-radius: 10px;
}
.ask-topic{
  margin: 10px;
  font-size: 18px;
  margin-left: 0px;
}